@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto.ttf);
}

.app {
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  color: #213547;
}

.app .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 750px;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Roboto';
  width: 100%;
  border-bottom: 3px solid black;
}

.form {
  min-height: 40px;
  display: flex;
  width: 350px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 30px;
}

.form .radioWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #42b983;
  flex: 1;
}

.form .pWrapper {
  background: #42b983;
  display: flex;
  align-items: center;
}

.form .pWrapper p {
  padding: 0 10px;
  margin: 0;
  color: white;
  white-space: nowrap;
  min-width: 70px;
  text-align: center;
}

.form input {
  border: 0;
  border-bottom: 3px solid #42b983;
  outline: none;
  font-size: 20px;
  flex: 1;
}

.form .select1 {
  border: 0;
  border: 3px solid #42b983;
  outline: none;
  font-size: 17px;
  height: 70px;
  flex: 1;
  max-width: 219px;
}

.form .select2 {
  border: 0;
  border: 3px solid #42b983;
  outline: none;
  font-size: 17px;
  flex: 1;
  max-width: 219px;
}

button {
  width: 100%;
  font-size: 30px;
  background: #42b983;
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: 2px solid white;
  transition: 0.5s;
}

button:hover {
  background: none;
  color: #42b983;
  border: 2px solid #42b983;
}
